IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
