bin
__pycache__
*.pyc
*.d
*.o
*.ko
*.obj
*.elf
*.ghc
*.pch
*.lib
*.a
*.la
*.lo
*.out
*.hex
*.dSYM/
*.su
tags
build
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
sol.build
prof_output
sol
sol_test
test
compile_commands.json
certs/
perf.txt
